@use "../../styles/colors" as colors;

.searchbar {
  .search-field {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 40%;
    height: 10%;
    border: 1px solid colors.$warm-sand;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px;
  }
  .input {
    width: 100%;
    background-color: white;
    padding: 0 10px;
    border: none;
  }

  .input:focus-visible {
    outline: none;
  }

  .button {
    margin: 0;
    width: 150px;
  }
}
