.destination-card {
  background-color: beige;
  padding: 20px;
  margin: 20px auto;
  border-radius: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  text-align: center;

  .img {
    width: 25%;
    height: auto;
    border-radius: 20px;
  }
}
